body {
    margin: 0 25%;
}

h1, h2, h3 {
    font-family: 'Liberation Mono', sans-serif;
    font-weight: bold;
}

a {
    color: blue;
    text-decoration: none;
}

.underline {
    color: black;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(207,140,199,.2) 5%, rgba(188,31,235,.2) 64%, rgba(153,57,238,.2) 100%);
    background-repeat: repeat-x;
    /* background-position: center 12px; */
    padding: 0 5px;
    margin: 0 0px;
    transition-property: background-position;
    transition-duration: .3s;
}

/* .underline:hover { */
    /* background-position: center 0px; */
/* } */

nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline;
}

ul li a {
    font-family: 'Liberation Mono', sans-serif;
    padding: 5px;
}

.section {
    margin-top: 5%;
}

code {
    color: rgb(51, 51, 51);
}